$dropdown-color: #afafaf;
$blue: #6cbffa;
$blue-light: #c3e5fd;

.select {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__top {
    &__container {
      border: 1px solid $dropdown-color;
      border-radius: 7px;
      padding: 0.6rem 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &:focus-within {
        outline: 1px solid #1e90ff;
      }
    }

    &__value-section {
      width: 100%;
      display: flex;
      align-items: center;
      user-select: none;

      &.is-multi {
        align-items: start;
      }

      &:focus-within {
        .select__top__container {
          outline: 1px solid #1e90ff;
        }
      }
    }

    &__indicator-section {
      display: flex;
      align-items: center;
    }
  }
  &__input {
    width: auto;
    pointer-events: none;
    flex-wrap: wrap;
    max-width: 100%;

    border: 0;
    outline: none;

    &.hidden {
      opacity: 0;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      max-width: 100%;
    }

    &:disabled {
      background-color: transparent;
    }

    &:focus {
      .dropdown__top__container {
        outline: 1px solid blue;
      }
    }
  }

  &__category {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.6rem;
    &__label {
      user-select: none;
      cursor: pointer;
      padding: 0.45rem 1rem;
      font-weight: bold;

      &__container {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 0.75rem;
      }
    }
  }

  &__values {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 7px;
  }

  &__spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #dddddd;

    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    //border-bottom-color: $blue;
    animation: loading 0.75s infinite linear;
  }

  @keyframes loading {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }

  &__value {
    width: 100%;
    display: flex;
    gap: 5px;
    &--multi {
      background-color: #e6e6e6;
      max-height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      position: relative;
      cursor: pointer;

      span {
        padding: 3px;
      }
    }

    &--icon {
      &__container {
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
        cursor: pointer;
        min-width: 20px;
        justify-content: center;
        border-color: rgb(230, 230, 230);

        &:hover {
          background-color: #cf1b1b;
          transition: 0.2s linear;
          svg {
            color: white;
            transition: 0.2s linear;
          }
        }
      }
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__list {
      height: 100%;
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;

      &.empty {
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__input {
    flex-grow: 1;
    overflow: hidden;
    width: 20px;
    border: none;
  }

  &__options {
    &__wrapper {
      border: 1px solid $dropdown-color;
      border-radius: 7px;
      margin-top: 5px;
      max-height: 270px;
      overflow-y: auto;
      width: 100%;

      &--empty {
        min-height: 60px;
      }
    }

    &__list {
      min-height: inherit;
      &--empty {
        display: flex;
        min-height: inherit;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    will-change: background, transform;
    backface-visibility: hidden;

    &--selected {
      background-color: $blue;

      color: white;
    }

    &--disabled {
      opacity: 0.6;
    }

    &--focused {
      background-color: $blue-light;
      color: white;
    }

    &:first-child {
      padding-top: 0.5rem;
    }
  }
  &__indicator {
    height: 100%;
    width: 100%;
    padding: 0.2rem 0.3rem;
    color: rgb(151, 151, 151);

    &.disabled {
      opacity: 0.6;
    }

    &--clear {
      color: rgb(151, 151, 151);
    }
  }
}
