* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#root {
  width: 100%;
}

li {
  margin: 0;
  padding: 0;
}

.red {
  border: 1px solid red;
}

.orange {
  border: 1px solid orange;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.select__check {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.select__single-val__custom {
  border: 1px solid red;
  padding: 7px;
}

.custom-multi-val {
  border: 1px solid red;
  display: flex;
  gap: 30px;
}

.select-cont {
  display: flex;
  gap: 20px;
}
