* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#root {
  width: 100%;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
