.mar {
    &--right {
        &--tny {
            margin-right: 5px;
        }
        &--sml {
            margin-right: 
            9px;
        }
        &--med {
            margin-right: 16px;
        }

        &--med-lg{
            margin-right: 29px;
        }
        
    }
}